@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

    .scrollbar-upload::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar-upload::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
    }
  
    .scrollbar-upload::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar-upload::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  
}